@font-face {
    font-family: Playfair-display-bold;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: Scriptina;
    src: url(../fonts/scriptina/SCRIPTINA.ttf);
}

@font-face {
	font-family: Alegreya-regular;
	src: url(../fonts/alegreya/Alegreya-Regular.ttf);
}

@font-face {
	font-family: Alegreya-bold;
	src: url(../fonts/alegreya/Alegreya-Bold.ttf);
}

@font-face {
	font-family: proximaNova;
	src: url(../fonts/proximaNova/ProximaNova.ttf);
}

@font-face {
	font-family: proximaNova-bold;
	src: url(../fonts/proximaNova/ProximaNova-Bold.ttf);
	font-weight: 200;
}

body {
	margin: 0px;
	padding: 0px;
}

.navigation__show-mobile-menu {
	display: none;
}

.navigation__check {
	display: none;
}

.navigation__back {
	display: none;
}

.main-container {
	width: 100%;
	cursor: default;
}

.open-section {
	width: 100%;
	height: 100vh;
	min-height: 700px;

	letter-spacing: 3px;
}

.open-section_bgimage {
	background-image: url("../pics/backgrounds/head_section_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.page-section_bgimage-fisrt {
	background-image: url("../pics/backgrounds/page_section1_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.page-section_bgimage-second {
	background-image: url("../pics/backgrounds/page_section2_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.close-section_bgimage {
	background-image: url("../pics/backgrounds/foot_section_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.open-section__main-header {
	position: relative;
}

.main-header {
	width: 100%;
	height: 70px;

	background: rgba(128, 128, 128, 0.6);
}

.content-block {
	//width: 1260px;
	max-width: 1260px;
	height: 100%;
}

.main-header__content-block {
	margin: auto;
}

.content-block_part-of-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;

	color: white;
}

.logo {
	height: 70px;

	font-family: scriptina;
	font-size: 30px;
	letter-spacing: 5px;

	line-height: 2;
}

.main-header__navigation {
	//max-width: 1000px;
	min-width: 800px;

	height: 70px;
}

.navigation {
	font-size: 14px;
	text-transform: uppercase;
}

.menu-list {
	padding: 0px;
	margin: 0px;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.menu-list__option {
	cursor: pointer;

	transition: .3s;
}

.menu-list__option, .menu-list__spacer {
	display: inline-block;
	
	list-style: none;	
	letter-spacing: 4px;
	line-height: 3;
}

.menu-list__option_hovered_lightgray:hover {
	color: lightgray;
}

.menu-list__option_hovered_golden:hover {
	color: rgb(201, 177, 118);
}

.main-header__social-panel {
	margin-left: 40px;
}

.social-panel {
	min-width: 100px;
	max-width: 100px;
	height: 70px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.social-panel__icon {
	height: 15px;
	width: 15px;
}

.menu-list__social-panel {
	display: none;
}

.open-section__content-section {
	height: calc(100% - 70px);
}

.content-section {
	width: 100%;
	min-height: 530px;
	
	background: rgba(0, 0, 0, 0.1);

	color: white;
}

.content-section__content-block {
	margin: auto;
}

.content-block__intro {
	margin: auto;
}

.intro {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.intro__intro-child {
	margin: 35px 0px;
}

.intro-child {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.intro-child__tittle-line {
	margin: 0px;

	font-family: Playfair-display-bold;
	font-size: 92px;
}

.intro-child__beautyful-description {
	width: 580px;
	
	font-family: proximaNova;
	text-align: center;
	font-size: 24px;
}

.intro-child__button-to-menu{
	width: 200px;
	height: 50px;

	background: rgba(128, 128, 128, 0.6);
	box-shadow: 0 0 40px 40px rgba(128, 128, 128, 0.6) inset, 0 0 0 0 rgba(128, 128, 128, 0.6);
	border: 1px dashed rgb(189, 189, 189);
	cursor: pointer;

	color: white;
	font-size: 14px;
	font-weight: bold; 
	text-transform: uppercase;
	letter-spacing: 4px;

	transition: all .4s;
}

.intro-child__button-to-menu_hovered_shadowed_white:hover {
	background: rgb(255, 255, 255);
	box-shadow: 0 0 15px 0 rgb(128, 128, 128) inset, 0 0 15px 4px rgb(128, 128, 128);

	color: rgb(86, 83, 76);
}

.open-section__dividing-circle {
	position: absolute;
	left: 50%;

	width: 80px;
	height: 80px;

	background: white;
	box-sizing: border-box;
	border: 15px solid white;
	border-radius: 50%;
	transform: translate(-50%, -50%);

}

.page-section {
	width: 100%;
	min-height: 760px;
}

.about-chef-section {
	min-width: 50%;
	//max-height: 100%;
	height: 100%;
	//max-height: 700px;
}

.dishes-pictures-section {
	width: 50%;
	height: 100%;	
}

.page-section__content-block {
	margin: auto;
}

.content-block_first {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap; ///////////
}

.close-section__content-block {
	margin: auto;
}

.about-chef-section {
	max-width: 630px;
	height: 100%;
}

.about-chef-section__chef-container {
	position: relative;
	top: 90px;
}

.chef-container {
	width: 100%;
	//min-height: 540px;
	max-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.chef-container__art-of-cakes {
	max-width: 500px;
	height: 100%;
}

.art-of-cakes {
	color: rgb(86, 83, 76);
	letter-spacing: 1px;
}

.art-of-cakes_center-text {
	text-align: center;
}

.article-header {
	font-family: Alegreya-bold;
	color: rgb(86, 83, 76);
	letter-spacing: 1px;
	
}

.article-header__main-header {
	margin: 0px;
	font-size: 42px
}

.article-header__under-header {
	color: rgb(164, 125, 94);
	font-size: 14px;
	text-transform: uppercase;
}

.art-of-cakes__article-text-block {
	margin-top: 20px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.article-text-block_height-first {
	height: 140px;
}

.article-text-block_height-second {
	height: 110px;
}

.article-text-block__text {
	width: 100%;

	font-family: proximaNova-bold;
	color: rgb(86, 83, 76);
	font-size: 14px;
	line-height: 22px;
	word-break: all;
}

.chef-container__about-chef {
	position: relative;
	margin: 7px 0px;
}

.about-chef {
	min-width: 410px;
	height: 100px;
	min-height: 100px;

	color: rgb(86, 83, 76);
}

.about-chef__header {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	display: block;
	transform: translate(-50%, -50%);
	
	font-family: Alegreya-bold;
	font-size: 24px;
	letter-spacing: 1px;
	word-break: all;
}

.chef-name {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	font-size: 24px;
	letter-spacing: 2px;
}

.chef-name__text {
	text-align: center;
}

.about-chef_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.chef-photo {
	width: 100px;
	height: 100px;

	border-radius: 50%;
}

.chef-photo__picture {
	width: 100%;
	height: 100%;
}

.about-chef__quote {
	margin: 0px;
}

.quote {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;

	quotes: "\201c" "\201e";
	font-family: Scriptina;
	color: rgb(164, 125, 94);
	text-align: center;
	font-size: 24px;
	line-height: 1
}

.quote::before {
	content: open-quote;
	align-self: flex-start;

	font-family: "Times New Roman";
	color: lightgray;
	font-size: 60px;
}

.quote::after {
	font-family: "Times New Roman";
	content: close-quote;
	align-self: flex-end;

	color: lightgray;
	font-size: 60px;
}

.quote__text {
	width: 70%;
	height: 60px;

	line-height: 1.2;
}

.cake-pics-section {
	position: relative;
	min-width: 630px;
	min-height: 730px;
}

.cake-pics-section__pics-container {
	position: absolute;
	top: 105px;
}

.pics-container {
	//min-width: 630px;
	min-width: 630px;
	//min-height: 540px;
	min-height: 540px;
	
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.pics-container__pic-wrapper {
	position: relative;
	margin: 10px;
}

.pic-wrapper {
	max-width: 295px;
	max-height: 250px;

	overflow: hidden;
}

.pics-container__pic-wrapper::after {
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 273px;
    height: 228px;

    border: 5px solid white;

    content: "";
}

.pic-wrapper__cake-image {
	width: 100%;
	height: 100%;

	transform: scale(1.2);
	outline: 5px solid white;
	//outline-offset: -11px;
}

.cake-pics-section__cake-star-wrapper {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cake-star-wrapper {
	width: 247px;
	height: 247px;
}

.cake-star-wrapper__cake-star-image {
	position: absolute;
	margin-top: 11px;

	width: 100%;

	opacity: 0.96;
}

.cake-star-wrapper__cake-star-text {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	display: block;
	transform: translate(-50%, -50%);

	width: 160px;
	
	color: rgb(201, 177, 118);
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5;
}

.page-section__content-block {
	position: relative;
}

.content-block_second {
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
}

.content-block__dishes-section {
	position: relative;

	max-width: 1070px;
	min-height: 730px;
}

.dishes-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.ready-in-section {
	width: 202px;
	height: 202px;

	background-image: url("../pics/backgrounds/ready-in-section-bg.png");
	background-repeat: no-repeat;
	background-size: cover;

	font-family: Alegreya-bold;
	text-align: center;
	line-height: 1;
	letter-spacing: 1px;
}

.ready-in-section_shadow {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.ready-in-section_shadow-down {
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.ready-in-section_tranparent-bg {
	background: rgba(255, 255, 255, 0.7);
}

.ready-in-section__inscription {
	position: relative;
	padding: 40px 0px 18px 0px;

	color: rgb(164, 125, 94);
	font-size: 16px;
	text-transform: uppercase;
}

.ready-time-in__number-of-minutes {
	color: rgb(223, 198, 145);
	font-size: 84px;
	letter-spacing: 6px;
}

.ready-time-in__number-of-minutes_black {
	color: rgb(86, 83, 76);
	font-size: 64px;
}

.ready-time-in__subscript {
	color: rgb(151, 146, 133);
	font-size: 16px;
}

.dishes-section__img-wrapper {
	position: relative;

	width: 420px;
	height: 510px;
}

.dishes-section__img-cover {
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: border-box;

	width: 420px;
	height: 510px;
	
	border-right: 2px solid rgba(0, 0, 0, 0.3)
}

.dishes-section__dish-photo {
	width: 100%;
	height: 510px;
}

.dish-description {
	position: relative;

	width: 545px;
	min-height: 512px;

	background: white;
	background-image: url("../pics/backgrounds/Windmill-bg.png");
	background-repeat: no-repeat;
	background-position: right 0px bottom 0px;
}

.dish-description__deviding-circle {
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);

	width: 50px;
	height: 50px;

	background: white;
	border-left: 3px solid rgba(0, 0, 0, 0.5);
	border-right: none;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.dish-description__ready-in-section {
	position: absolute;
	top: -45px;
	right: -96px;

	z-index: 10;
}

.dish-description__windmill-bg {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.dish-description__art-of-cakes  {
	margin: 70px auto 0px;

	max-width: 410px;

	word-break: all;
}

.dish-description__rate-and-slider {
	position: absolute;
	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 185px;
}

.rate-and-slider__dish-rate {
	margin: 0px auto;

	width: 410px;
	height: 15px;
}

.dish-rate {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;	
}

.dish-rate__star {
	margin: 0px 10px 0px 0px;

	width: 12px;
	height: 12px;
}

.rate-and-slider__dish-slider {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 40px 0px;

	width: 100%;
	height: 92px;
}

.dish-slider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.dish-slider__dish-example-container {
	margin: 0px 15px;

	border-radius: 50%;
}

.dish-slider__arrow-border {
	position: relative;

	width: 30px;
	height: 30px;
}

.arrow-border {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	border: 2px solid rgb(86, 83, 76);
	border-radius: 50%;
	cursor: pointer;

	transition: .3s;
}

.arrow-border__arrow {
	position: relative;

    width: 8px;
    height: 8px;

    border-right: 1px solid black;
    border-top: 1px solid black;

    transition: .3s;
}

.dish-slider__arrow-border_hovered_yellow:hover {
	border-color: rgb(201, 177, 118);
}

.arrow-border__arrow_left {
	transform: translateX(2px) rotate(-135deg);
}

.arrow-border__arrow_right {
	transform: translateX(-2px) rotate(45deg);
}

.dish-slider__arrow-border_hovered_yellow:hover .arrow-border__arrow_left_hovered_yellow_translated {
	border-color: rgb(201, 177, 118);
	transform: translate(-3px) rotate(225deg);
}

.dish-slider__arrow-border_hovered_yellow:hover .arrow-border__arrow_right_hovered_yellow_translated {
	border-color: rgb(201, 177, 118);
	transform: translate(3px) rotate(-315deg);
}

.close-section {
	width: 100%;
	min-height: 920px;
	
	background: #f3f1e9;
}

.content-block_third {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.content-block__ingredients-section {
	margin-right: 100px;
	max-width: 298px;
	min-height: 920px;
}

.ingredients-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.ingredients-section__ingrid-container {
	width: 298px;
	height: 270px;

	letter-spacing: 1px;
	line-height: 20px;
}

.ingrid-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	text-align: center;
}

.ingrid-container__pic-container {
	margin: 0px auto;

	height: 100px;
	width: 100px;
}

.ingrid-container__ingrid-picture {
	transform: scale(1.2) translateY(8px);

	height: 100px;
	width: 100px;
}

.ingrid-container__ingrid-name {
	font-family: Alegreya-regular;
	color: rgb(164, 125, 94);
	font-size: 30px;
}

.ingrid-container__ingrid-description {
	margin-bottom: 15px;

	font-family: proximaNova-bold;
	color: rgb(86, 83, 76);
	font-size: 14px;
}

.content-block__random-dish-section {
	position: relative;
	margin: auto 0px;
	
	min-width: 864px;
	height: 740px;
}

.article-header__under-header_center-text {
	text-align: center;
}

.article-header__under-header_margin_text {
	margin-left: 50px;
}

.random-dish-section__dish-portrait-container {
	position: absolute;
	bottom: 18px;
	right: 0px;
	
	max-width: 842px;
	max-height: 560px;
}

.dish-portrait-container__picture {
	width: 100%;
	height: 100%;

	box-shadow: 0 30px 30px -30px rgba(0, 0, 0, 0.3);	
}

.random-dish-section__get-full-recipe-btn {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 172px;
	height: 60px;
	
	//background: white;
	border: 1px dashed rgb(223, 198, 145);
	box-shadow: 0 0 40px 40px rgb(255, 255, 255) inset, 0 0 0 0 rgb(255, 255, 255);
	cursor: pointer;

	transition: .3s;

	font-family: Alegreya-bold;
	color: rgb(223, 198, 145);
	font-size: 18px;
	letter-spacing: 1px;
}

.random-dish-section__get-full-recipe-btn:hover {
	//background: rgb(223, 198, 145);
	box-shadow: 0 0 15px 0 rgb(223, 198, 145) inset, 0 0 15px 4px rgb(223, 198, 145);

	color: rgb(86, 83, 76);
}

.random-dish-section__process-info-container {
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);

	width: 202px;
	height: 608px;
}

.process-info-container__ready-in-section_margin {
	margin-top: 1px;
}

.main-container__main-footer {
	padding-top: 38px;
}

.main-footer {
	width: 100%;
	height: 194px;
}

.main-footer__content-block {
	margin: auto;
}

.content-block_part-of-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-around;
	align-items: center;
}

.content-block__half-of-footer {
	width: 512px;
	height: 70px;

	font-family: Alegreya-bold;
	color: rgb(86, 83, 76);
}

.half-of-footer {
	background-image: url("../pics/backgrounds/footer-navigation-bg.png");
	background-size: cover;
	background-repeat: no-repeat;

	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-image: url(../pics/content/border-line.svg) 10 round;
	
}

.half-of-footer__navigation {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1260px) {

	.dish-description__ready-in-section {
		position: absolute;
		top: -45px;
		right: -25px;

		z-index: 10;
	}

	.content-block_third {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		flex-wrap: nowrap;
	}

	.ingredients-section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: start;
		flex-wrap: wrap;
	}

	.content-block__ingredients-section {
		margin: 0px;
		max-width: 920px;
		min-height: 298px;
	}

	.content-block__random-dish-section {
		position: relative;
		padding-top: 2%;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		
		min-width: 440px;
		max-width: 864px;
		height: 720px;
	}

	.random-dish-section__process-info-container {
		position: absolute;
		left: 50%;
		top: -10%;
		transform: translateX(-50%);
		width: 100%;
		height: 202px;
	}

	.process-info-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
	}

	.random-dish-section__dish-portrait-container {
		position: relative;
		margin-top: 10%;
		
		max-width: 842px;
		max-height: 560px;
	}

	.random-dish-section__get-full-recipe-btn {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		height: 10%;
		
		background: white;
		border: 1px dashed rgb(223, 198, 145);
		cursor: pointer;

		font-family: Alegreya-bold;
		color: rgb(223, 198, 145);
		font-size: 0.9em;
		letter-spacing: 1px;
	}
}

@media screen and (max-width: 1070px) {

	.main-header__navigation {
		width: 100%;
		min-width: 600px;
	}

	.main-header__social-panel {
		display: none;
	}

	.main-header__logo {
		display: none;
	}

	.open-section__dividing-circle {
		display: none;
	}

	.menu-list__spacer {
		display: none;
	}

	.dish-description__ready-in-section {
		position: absolute;
		top: -25%;
		right: -25px;

		z-index: 10;
	}

	.dish-description__dividing-circle {
		display: none;
	}

	.dishes-section__img-wrapper {
		position: relative;

		width: 545px;
		height: 400px;
	}

	.main-footer {
		width: 100%;
		min-height: 194px;
	}

	.main-footer__logo {
		display: none;
	}

	.content-block__half-of-footer {
		width: 100%;
		height: 50%;

		font-family: Alegreya-bold;
		color: rgb(86, 83, 76);
	}

	.content-block_part-of-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 615px) {
	.main-header__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		display: inline;
	}
	.main-header__social-panel {
		position: absolute;
		margin: 0px;
		right: 10px;
		top: 0px;
		border: none;
		display: flex;
		justify-content: space-between;
	}

	.social-panel__icon {
		width: 25px;
		height: 25px;
	}

	.social-panel__link-to {
		text-decoration: none;
	}
	.main-header__navigation {
		//max-width: 1000px;
		min-width: 800px;

		min-height: 70px;
	}

	.main-header__navigation {
		user-select: none;
	}

	.navigation__show-mobile-menu {
	    position: relative;
	    z-index: 3;
	    display: inline-block;
	    height: 100%;
	    margin-left: 5px;
	    top: 2px;
	    font-size: 30px;
	}

	.menu-list_header {
		padding: 0;

	    list-style: none;
	    overflow: hidden;

	    color: rgb(255, 255, 255);
	    
	  }

	.menu-list_header {
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 17px 0;
	    display: block;

	    width: 100%;
	    height: 100vh;
	    min-height: 700px;

	    background: rgb(128, 128, 128);
	    overflow-y: auto;
	    backface-visibility: hidden;

	    text-transform: uppercase;
	    line-height: 2em;
	    
	    
	    -webkit-overflow-scrolling: touch;
	    transform: translateX(-100%);
	    transition: transform .3s;
	    //will-change: transform;
	    
	}

	.navigation__back {
	    position: fixed;
	    top: 0;
	    right: 0;  
	    bottom: 0;
	    left: 0;

	    transition: background-color .3s;
	}
	.menu-list__option_header {  
	    display: block;

	    border-bottom: 1px solid white;

	    color: rgb(255, 255, 255);
	    text-align: center;
	    text-decoration: none;
	    font-size: 35px;  
	}
	.navigation__check:checked~.navigation__back {
		bottom: 0;

	    background-color: rgba(0,0,0,.2);
	    
	}
	.menu-list__option_header:hover, .navigation__show-mobile-menu:hover {
		opacity: 0.7;
	}

	.menu-list_header::scrollbar {
		display: none;
	}
	.navigation__check:checked + .navigation__show-mobile-menu {
		color: rgb(255, 255, 255);;
	}
	.navigation__check:checked ~ .menu-list_header {
		transform: translateX(0);
	}

	.main-header__social-panel {
		margin-left: 40px;
	}

	.content-block__cake-pics-section {
		display: none;
	}
	.dishes-section__img-wrapper {
		width: 100%;
	}
	.dishes-section__dish-description {
		width: 100%;
	}
	.dish-description__ready-in-section {
		position: absolute;
		top: -25%;
		right: -5px;

		z-index: 10;
	}
	.random-dish-section__process-info-container {
		position: absolute;
		left: 50%;
		top: -19%;

		width: 100%;
		height: 202px;

		transform: translateX(-50%);
		
	}
	.content-block__random-dish-section {
		position: relative;
		padding-top: 2%;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		
		min-width: 440px;
		max-width: 864px;
		height: 600px;
	}

	.half-of-footer {
		
		width: 100%;
		min-height: 50vh;
	}

	.main-footer__logo {
		display: inline;
		width: 100%;

		font-size: 50px;
		text-align: center;
		display: none;
	}

	.intro-child__tittle-line {
		font-size: 60px;
	}
}

@media screen and (max-width: 435px) {
	.main-header__logo {
		right: 0px;
		top: 0px;
	}

	.menu-list__option_header {  
	    display: block;

	    border-bottom: 1px solid white;

	    color: rgb(255, 255, 255);
	    text-align: center;
	    text-decoration: none;
	    font-size: 1em;  
	}

	.menu-list__social-panel {
		margin-top: 5px;
		display: flex;
		
		margin: 0px auto;
	}

	.intro-child__tittle-line {
		margin: 0px;

		font-family: Playfair-display-bold;
		font-size: 40px;
	}

	.intro-child__beautyful-description {
		max-width: 580px;
		
		font-family: proximaNova;
		text-align: center;
		font-size: 16px;
	}

	.intro-child__button-to-menu{
		width: 80%;
		height: 50px;
	}

	.main-header__social-panel {
		display: none;
	}

	.article-header__under-header {
		font-size: 8px;
	}

	.art-of-cakes__article-text-block {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
	}

	.about-chef {
		min-width: 0px;
		height: 100%;
		min-height: 100px;

		color: rgb(86, 83, 76);
	}

	.about-chef-section__chef-container {
		top: 0px;
	}

	.about-chef_flex {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.dishes-section__img-wrapper {
		position: relative;
		top: 0px;
		left: 0px;
		box-sizing: border-box;

		width: 100%;
		max-height: 200px;
		
		
		border-right: 2px solid rgba(0, 0, 0, 0.3)
	}

	.dishes-section__dish-photo {
		width: 100%;
		height: 100%;
	}

	.dish-description {
		position: relative;

		width: 100%;
		min-height: 100vh;
	}

	.dish-description__art-of-cakes {
		margin: 0px;
	}

	.dish-description__deviding-circle {
		display: none;
	}

	.dish-description__ready-in-section {
		position: relative;
		top: 0px;
		left: 0px;

		width: 100%;
	}

	.dish-description__rate-and-slider {
		position: relative;
		bottom: 0px;
		left: 0px;

		width: 100%;
		min-height: 185px;
	}

	.rate-and-slider__dish-rate {
		margin: 15px auto;

		width: 100%;
		height: 15px;
	}

	.rate-and-slider__dish-slider {
		position: relative;
		margin: 40px 0px;

		height: 30px;
		width: 100%;
	}

	.dish-slider__arrow-border {
		position: relative;

		width: 25px;
		height: 25px;
	}

	.arrow-border__arrow {
		width: 40%;
		height: 40%;
	}

	.dish-slider__dish-example-container {
		margin: 0px 5px;
	}

	.dish-example-container__picture {
		width: 100%;
		height: 100%;
	}

	.ready-in-section {
		width: 100%;
	}

	.random-dish-section__process-info-container {
		display: none;
	}

	.ingredients-section__ingrid-container {
		width: 100%;
		min-height: 270px;

		letter-spacing: 1px;
		line-height: 20px;
	}

	.content-block_third {
		display: flex;
	    flex-direction: column-reverse;
	    justify-content: flex-start;
	    align-items: center;
	    flex-wrap: nowrap;	
	}

	.close-section {
		width: 100%;
	}

	.content-block__random-dish-section {
		width: 100%;
		height: 100%;
		min-width: 0px;
	}

	.random-dish-section__article-header {
		width: 100%;

		text-align: center;
	}

	.article-header__main-header {
		width: 100%;

		font-size: 32px;
	}

	.random-dish-section__dish-portrait-container {
		position: relative;
		top: 0px;
		left: 0px;
		
		width: 100%;
		max-height: 560px;
	}

	.half-of-footer {
		width: 100%;

		border: none;
	}

	.menu-list_footer {
		flex-direction: column;
	}

	.menu-list__option_footer {
		width: 100%;

		border-top: 1px solid black;

		text-align: center;
	}
}